div.combobox	* {
}

div.combobox {
    margin: 5px;
    padding-bottom: 5px;
	position: relative;
	z-index: 1;
}

div.combobox	div.dropdownlist {
	display: none;
	width: 200px;
	border: solid 1px #000;
	height: 200px;
	overflow: auto;
	position: absolute;
	background-color: #fff;
	top: 18px;
	left: 0px;
}

div.combobox	.dropdownlist	a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 1px
}

div.combobox	.dropdownlist	a.light {
	color: #fff;
	background-color: #007
}

div.combobox	.dropdownlist,input {
}

div.combobox	input {
	float: left;
	width: 182px;
	border: solid 1px #ccc;
	height: 15px
}

div.combobox	span {
	border: solid 1px #ccc;
	background: #eee;
	width: 16px;
	height: 17px;
	float: left;
	text-align: center;
	border-left: none
}