body{
	margin: 0 auto;
	padding: 0;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	background: url("../img/icons/bg_body.gif") repeat-x scroll 0 0 #444444;
	/* color: #CCCCCC; */
	line-height: 1.28;
	font-size: 12px;
	text-align: left;
}

#body {
 	margin: 0 auto;
	
 	max-width: 900px;
}

#left_body{
	float:left;
	width: 250px;
	text-align:left;
	padding: 10px 10px 10px 10px;
	background-color: #555555;
}

#right_body{
    background-color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: underline;
}

#header_menu{
	padding: 5px 0px 5px 0px;
}

.sidebar_block{
	padding-top:15px;
}

.sidebar_block_title{
	padding: 7px 10px;
	background: url("../img/icons/bg_sidebar_title.gif") no-repeat scroll 0 0 #333333;
	text-transform: uppercase;
}

.sidebar_block_body{
	background: url("../img/icons/bg_sidebar_block.gif") no-repeat scroll left bottom #404040;
	padding: 10px;
	line-height: 18px;
}

#left_body a {
    font-weight: bold;
}

.login_avatar{
	padding-right: 5px;
	width: 24px;
}
.login_text{
	padding-left: 5px;
}

#header{
	margin: 0px;
	padding: 0 10px 5px 10px;
	/* text-align: center; */
}

#header img{
	margin:auto;
}

.content{
	clear: both;
	margin: 0;
	min-height:300px;
	text-align:left;
	padding:0px 10px 10px 10px;
	color: #000000;
}

.content a {
    color: #000000;
}

ul.nav>li>a{
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;	
	margin-left: 0px;
	text-decoration: none;
}

.post{
	border-style:solid;
	border-width: 0 0 1px;
	border-color: #B3B3B3;
	padding-bottom: 10px;
}

#post_text{
	overflow: auto;
	text-align: justify;
}

.post_header{
	padding: 5px;
	font-weight: bold;
	position: relative;
}

.post_cat_rat{
	float:left;
	padding: 5px;
}

.comments_block{
	margin-left:50px;
}

.comment_style{
	background-color: #EDEFF4;
	margin: 5px 0px 5px 5px;
	position: relative;
}

.comment_author{
	font-weight: bold; 
	padding-right: 5px;
	cursor: pointer;
	text-decoration: underline;
}

.comment_avatar{
	position: absolute;
}

.comment_content{
	padding-left:40px;
}

.comment_context{
	word-wrap: break-word;
	white-space: pre-line;
}

textarea{
	font-size: 11px;
	line-height: 1.28;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

.comment_content textarea{
	width: 100%;
	/* max-width: 515px; */	
	/* min-width: 515px; */
}

#add_post_form textarea{
	width: 100%;
}

.comment_content #text{
	width: 100%;
	/* max-width: 570px; */
	/* min-width: 570px; */
}

#comment_input{
    width: 420px;
    padding-top: 5px;
    width: 100%;
}

#comment_button{
	float:right;	
	padding-top: 5px;
}

.invisible_comment_count_text{
	display:none;
}
#add_post_button{
	text-align: right;
	margin: 5px 0px 5px 10px;
}

#categories_checkboxes label{
	border: 1px solid black;
	display: block;
	margin-top:2px;
}

.category_block{
	float: left;
}

#categories_checkboxes{
	display:none;
	background-color:#EDEFF4;
}

.add_post_tags{
	float:right;
}

#tags_input{
	margin: 5px 0;
	padding: 0px 2px 0px 2px;
	background: url("dropdown/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
	width: 200px;
	border: 1px solid #D3D3D3;
}

.post_rating{
	margin: 5px 2px 0px 0px;
}

.rating-button:hover {
	opacity: 1;
}

.rating-button {
	opacity: 0.8;
	cursor: pointer;
}

.rating_sum {
	font-weight: bold;
}

.comment_operations{
	height: 15px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.comment_operations a {
	padding-left: 10px;
}

.vote_icon{
	float:left;	
}

.vote{
	margin:5px;
}

.vote_text{
	margin-left:20px;
}

#loadingScreen{
	display: none;
}

.form_input {
	width:210px;
}

#submit_login_btn{
	float: right;
}

.profile_settings_attributes label {
	width: 200px;
	display: inline-block;
}

#profileSettingsForm input[type="submit"]{
	margin: 20px 0px 20px 200px;
}

.profile_settings_section_title{
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 20px;
	font-weight: bold;
}

.profile_settings_attributes{
	padding-top: 10px;
}

.update_status{
	border-color: #FF0000;
	border-style: solid;
	border-width: 1px;
	font-weight: bold;
	padding: 2px 0 2px 4px;
}

input[type=password] {
  ime-mode: normal !important;
}

.add_comment_loading{
	float:right;	
}

.profile_user_name{
	font-size: 18px;
	padding-bottom: 10px;	
}

.profile_info_entry{
	padding-bottom: 5px;
}

.profile_info_field{
	font-weight: bold;
}

.profile_info_value{
}

.profile_user_avatar{
	padding-bottom: 10px;
}

.comment_rating{
	padding-top: 2px;
}

.comment_date{
    font-size: 8px;
    margin: 3px;	
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.post_content_text{
	font-size: 13px;
	overflow: hidden;
	white-space: pre-line;
	word-wrap: break-word;
}

.editPost{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	width: 100%;
	overflow: hidden;
}

.ui-widget{
	font-size: 13px !important;
}

#edit_post_validation{
	color: red;
    margin-top: 10px;
}

.rss-icon {
background-image: url("../img/icons/feed.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-right: 15px;
}

.offline_users_text{
	 margin-top: 5px;
}

.online_users_img{
	
}

#users_online_block{
	min-height: 32px;
}

.comment-rating{
	cursor: pointer;
}

#mail{
	width: 100%;
}

.new_message{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	width: 100%;
	overflow: hidden;
}

#new_message_dialog{
	overflow: hidden;	
}

.selected_message{
	background-color : gray;
}

#message_box{
	padding-top : 15px;	
}


.message_text_input{
	padding-top: 25px;	
}

table
{
	border-collapse:separate;
	border-spacing:0px;
}

table tr{
	background-color: #E5E5E5;	
}

table tr.unread{
	background-color: #FFFFFF;
}

.new_message_arrow{
	cursor: pointer;
}

.new_message_write_a_message{
	padding-bottom: 15px;
}

.inbox_try_writing{
	text-align: center;	
}

.dialog_messaging_with{
	font-size: 16px;
    margin: 5px;	
}

.comment_content button{
	float: right;
	margin-right: 10px;	
}


pre {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
    line-height: 1.28;
}

.posts_sorting{
    background-color: #555555;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: white;
    font-weight: bold;
}

.show_count_block{
	float: right;
}

.posts_order_block{
	float:left;	
}

.paging_pages{
	text-align: center;
	font-size: 15px;
	padding-top: 10px;	
}

.paging_total{
	text-align: center;
	font-size: 15px;
	padding-top: 10px;	
}

.search_form #query{
	width: 140px;	
}

#search_button{
	float: right;
	margin-top: 4px;	
}

.footer_adv{
	text-align: center;
}

#cse-search-box input[name=q]{
	width: 140px;	
}

#header_banner{
	height: 157px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	position: relative;
	background-image: linear-gradient(left , #575757 19%, #676767 50%, #575757 75%);
	background-image: -o-linear-gradient(left , #575757 19%, #676767 50%, #575757 75%);
	background-image: -moz-linear-gradient(left , #575757 19%, #676767 50%, #575757 75%);
	background-image: -webkit-linear-gradient(left , #575757 19%, #676767 50%, #575757 75%);
	background-image: -ms-linear-gradient(left , #575757 19%, #676767 50%, #575757 75%);
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0.19, #575757),
		color-stop(0.5, #676767),
		color-stop(0.75, #575757)
	);
}

.header_banner_brackets{
	font-weight: bold;
	color:#525252;
	font-family: Arial;
	padding: 0 10px 0 10px;
	font-size: 53px;
}

.header_banner_text{
	color:#EEEEEE;
	font-family: Times New Roman;
}

#header_banner_image{
	padding: 25px;
}

#header_menu li.recent_comment{
	overflow: hidden;
	height: 15px;
	/* padding-bottom: 5px; */
	/* padding-left: 5px; */
}

#header_menu li.recent_comment a img {
	width: 16px;
	height: 16px;
	float: left;
	padding-right: 5px;
}

#header_menu li.recent_comment a{
	display: inline;
	text-transform: none;
	text-decoration: underline;
}

#header_menu ul.recent-comments{
	min-width: 230px;
	font-size: 11px;
}

#vk_icon{
	position: absolute;
	top: 10px;
	right: 10px;
}

#fb_icon{
	position: absolute;
	top: 10px;
	right: 52px;
}


.category_box {
	display: inline-block;
	padding: 9px;
	/* border-width: 0px; */
	/* border-style: solid; */
	background-color: #555555;
	margin-top: 5px;
	color: white;
	border-radius: 5px;
}

.centered{
	margin: auto;
}

.dropdown-menu>li>a{
	/* padding: 4px 0px; */
	font-size: 11px;
	color: #000000;
}

#header_menu ul.dropdown-menu>li{
	color: #000000;
	margin-left: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

#header_menu ul.dropdown-menu>li>label{
	cursor: pointer;
}

ul.login-menu{
	left: auto;
	right: 0;
	min-width: 180px;
}

li.login-dropdown{
	float: right;
}

.dropdown-menu{
	font-size: 12px;
}

.login-form-element{
	margin: 5px;
	/* margin-right: 5px; */
	/* margin-top: 5px; */
	/* margin-left: 5px; */
}

span.glyphicon{
	color: #000000;
	font-size: 11px; 
	top: 0px;
	margin-right: 4px;
}

li.active>a>span.glyphicon{
	color: #FFFFFF;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: #555555;
}

div.login-form-element input[type="checkbox"]{
	margin-right: 5px;	
}

.dialog-row {
	cursor: pointer;
}

.dialog-row:hover {
	font-weight: bold;
}

.edit-post-icon{
	padding-left: 5px;
}

input[type="checkbox"] {
	margin: 0px 3px 0px 0px;
}

.register-forgot-block{
	clear: both;
}

.register-forgot-block a{
	display: block;	
	padding-top: 5px;
	color: #000000;
}

.dialog-validation{
	padding-bottom: 10px;
	color: red;
}

.login-form{
	width: 350px;
	border: 1px solid#555555;
	border-radius: 6px;
	padding: 10px;
	margin: 60px auto;
}

.login-error{
	margin-top: 10px;
	color: red;
}

div.post_header > div > ul{
	min-width: 115px;
	padding-left: 5px;
}

div.post_header > div > ul > li > button{
	border: none;
	background-color: white;
}

div.post-actions-dropdown{
	position: absolute;
	right: 0px;
}

div.post-actions-dropdown > .dropdown-toggle{
	cursor: pointer;
}

div.post_content_text > a {
	text-decoration: none;
	color: #0084B4;
}

#submit-btn{
	background-color: #555555;
	color: white;
}

#post_preview{
    word-wrap: break-word;
}
@media all and (max-width: 620px) {
	.hide-on-mobile {
		display: none;
	}
	#body {
		margin: 0 auto;
		max-width: none;
		/* font-size: 14px; */
	}
}